#{extends 'main.html' /}
#{set title:'Play gym' /}
#{welcomemenu id:"start"/}

<div class="ui floating segment">
  <div class="ui two column middle aligned center aligned grid basic segment">
    <div class="column">
      <h1>BMI Tracker</h1>
      <p>Fill in your assessments week by week and track your
        BMI. Trainers will comment on your progress and
        encourage you to keep going!</p>
    </div>
    <div class="column">
      <img class="ui image" src="/public/images/imgstart.jpg">
    </div>
  </div>
</div>
