#{extends 'main.html' /}
#{set title:'Update' /}
#{menu id:"updatemember"/}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <form class="ui stacked segment form" action="/register" method="POST">
      <h3 class="ui header">Settings</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input value="${member.firstname}" type="text" name="firstname">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input value="${member.lastname}" type="text" name="lastname">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Email</label>
          <input value="${member.email}" type="text" name="email">
        </div>
        <div class="field">
          <label>Gender</label>
          <input value="${member.gender}" type="text" name="gender">
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Height</label>
          <input value="${member.height}" type="text" name="height">
        </div>
        <div class="field">
          <label>Starting Weight</label>
          <input value="${member.startingWeight}" type="text" name="startweight">
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" value="${member.password}" name="password">
      </div>
      <button class="ui blue submit button">Update</button>
    </form>
  </div>
  <div class="column">
    <img class="ui centered image" src="/public/images/arrows.jpeg">
  </div>
</div>